body {
    font-family: Sans-Serif;
    margin-left: 1em;
}

title {
    color: darkgreen;
}

.message {
    color: darkred;
}

table {
    border: 1px solid gray;
    padding: 1em;
    width: 100%;
}

table.prospects tr:nth-child(even) {
    background-color: lightgray;
}

th {
    background-color: lightgray;
}

td {
    padding: 0.2em 1em;
}

.right {
    text-align: right;
}

/*form {
    float: left;
}*/

.form-group, .spacer {
    padding: 0.2em;
    float: left;
}

h3, fieldset {
    clear: both;
}

table, fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.alert, .subtext {
    font-size: 0.7em;
}

.alert {
    color: darkred;
}

.spacer {
    margin-left: 4em;
}

input, label {
    display:block;
}

label, th {
    font-variant: all-small-caps;
}

table, fieldset, hr, .titlediv, .tablediv {
    width: 800px;
    margin: 2em auto;
}

