title {
    color: darkgreen;
}

.message {
    color: darkred;
}

table {
    border: 1px solid gray;
}

table tr:nth-child(odd) {
    background-color: lightgray;
}

td {
    padding: 0.2em 1em;
}

.right {
    text-align: right;
}